<h1>Votre bon cadeau Relook Esthétique</h1>

<p>Bonjour <%= @user.email %>,</p>
<img src ="https://myrezapp.com/wp-content/uploads/2019/01/banner-bon-cadeau.png" alt="boncadeau">
<p>Commande n° <%= @order.id %> du <%= @order.updated_at %></p>
<p>yahou</p>

<p>May the Force be with You</p>
<%= link_to "get back", root_url %>
