<!DOCTYPE html>
<html>
  <head>
 
 
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
</head>

<div style="font-family: Montserrat; font-size:14px; ">

<p>Bonjour <%= @user.email %>,</p>
<h1 style="font-size: 16px">VOICI VOTRE BON CADEAU RELOOK ESTHETIQUE</h1>
<img src ="https://res.cloudinary.com/dsmxleyf5/image/upload/v1620016992/ede2o2qdibidqqwugjpc.jpg" alt="boncadeau" width="700">
<p>Commande n° <%= @order.id %> du <%= @order.updated_at %></p>
<p>Voici votre Bon Cadeau Relook Esthetique</p>
<p>Pour utiliser votre bon cadeau, rien de plus simple :</p>
<p>Prenez rendez-vous avec Patricia par téléphone, imprimez ce mail et présentez le au salon avec les références de votre commande, le jour de votre rendez-vous.</p>


<a href="https://www.relookesthetique.fr" style ="text-decoration:none; color:black">Relook Esthetique</a>
<p>225 Chemin Saint-Georges, Residence Lou Casteu<br />
13150 Tarascon<br />
04 90 91 04 73<br />
06 13 57 71 58</p>