    <div class="footer">
  <div class="footer-links">
    
    <a href="https://www.facebook.com/relookesthetique/" target="_blank"><i class="fab fa-facebook"></i></a>
    
  </div>
  <div class="footer-copyright">
   <p>Relook Esthétique <br />
225 Chemin Saint Georges<br />
13150 TARASCON<br />


  </div>
</div>
