<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Commande n° #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>Echéance</strong> <%= @order.created_at.to_date %></li>
      </ul>
      <p>Présentez vous avec l'<strong>email</strong> qui vous a été envoyé ce jour</p>
    </div>
  </div>
</div>
