<h1>Patricia Serie, votre esthéticienne</h1>
<h2>Créatrice de RELOOK ESTHETIQUE, je bénéficie d’un long cursus professionnel dans le domaine de l’esthétique, du bien-être et du maquillage permanent. </h2>
<p>Je travaille sur la communication par l’image pour l’épanouissement de la personne au niveau de son développement personnel.
Mes valeurs « Etre en Harmonie & en Cohérence » avec l’image que l’on reflète.</p>
<p>Particulièrement sensibilisée aux interactions du monde vivant, j’essaie de vous enrichir par ma pratique professionnelle et ma vision avant-gardiste de « l’être » et du « paraître » en respectant votre personnalité.

Je reste toujours à l’écoute de vos attentes & besoins.</p>

<img src="https://coolwallpapers.me/picsup/2611782-monica-bellucci-cool-wallpaper-for-pc.jpg" alt="patricia">


<p>« La Beauté sur Mesure » c’est évidemment le Look & le Style qui vous est propre et qui vous rend unique.

Mon objectif « Vous rendre encore plus belle au quotidien »</p>