<h1>Relook Services</h1>
<%= link_to "Epilations", epilations_path %>
|
<%= link_to " Massages", massages_path %>
|
<%= link_to "Soins du Visage", soinvisages_path %>
|
<%= link_to "Maquillage Permanent", maquillages_path %>
