<div class="false-menu"></div>
<div class="under-menu">
  <h1 class="under-title">Epilation</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>
<%= render 'form', model: @epilation %>
