
.form-container {

    display: flex;

    justify-content: center;

}
.form-control.text.optional{
  height:150px;
}
.simple_form.new_contact{
  // padding: 40px 60px;
  // border:1px solid black;
  // border-radius:20px;
  margin-top:20px;
  width:60%;
  font-family: Montserrat;
}


#order_item_quantity{
    border-radius: 20px;
    box-shadow: 1px 1px 2px 0px #c9c6c6;
    border: 0;
    margin-bottom: 10px;
    height: 25px;
    width: 50px;
    font-size: 12px;
}
.well{
  margin-bottom: 20px;
  padding-bottom: 20px;

  box-shadow:0 4px 2px -2px #e2dddd;
  h3, h5{
    font-family: Montserrat;
    font-size: 20px;
  }

}

.subtotal{
  font-family: Montserrat;
    font-size: 14px;

}
.total-price{
  font-family: Montserrat;
  // font-weight: bold;
}
.btn-group{
  margin-bottom: 3px;;
}
  .contact-icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d3ae8d;
    color: white;


  }

  .contact-link {
    text-decoration: none;
    color: grey;

  }
  .contact-link:hover{
    color: grey;

  }

.contact-text{
display:inline;
padding-left: 10px;
color: grey;
font-family: 'Montserrat';

  }
.makeup-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-gap: 16px;
}


.presta-name {
  width:56%
}


.presta-price {
  margin-left:auto;
}

.forfait {
  font-weight: bold;
}

.card-wrapper{

  // width: 35vw;
  font-family: 'Open sans', sans-serif;
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-family: 'Montserrat';
    font-size: 24px;
  }
}
.card-wrapper-flex-start{

  // width: 35vw;
  font-family: 'Open sans', sans-serif;
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

.cardsnoflex {
  align-items: center;
  margin-bottom: 5px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

.service{
  padding-right: 10px;
}

.service-price{
  margin-left:auto;
}
.price{
  margin-right: 15px;
}

.form-group{
  // width: 20%;
  margin-bottom: 0;
}

// .blockbann{
//   display:flex;

// }

.adresse {
  margin-top:15px;
  padding-left:8px;

  h3{
    font-size: 25px;
  }
  a{
    text-decoration:none;

  }
  a:hover{

    cursor: pointer;
  }
}

.patricia{
  width:302px;
  background-size:cover;


}

.bio {
  padding-left: 10px;
  background-color: white;
    p{
      font-family:'Montserrat', sans-serif;
    }
}
.pic {

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1615548643/y6n1xsxrducombivnxgf.jpg");
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  width: 100%;
  height: 36vw;


}



@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.about-container{
  margin-top: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;
  width: 72%;

}

.pat{
display: flex;
justify-content: center;
}


.caddie-container{
  margin-top:50px;
}

.container {

  background-color: transparent;
  margin-top: 50px;

  h1 {
    font-family: 'Montserrat', sans-serif;
  }
   h2 {
    font-family: 'Montserrat', sans-serif;
    color: grey;
   }

   p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
   }
}

.menu-container{
  display:flex;
  flex-direction: column;
  margin-top: -15vw;
  margin-right: 4vw;
  position: relative;

}
.menu-container.active{
  display:flex;
  flex-direction: column;
  margin-top: 0;
  margin-right: 0;
  position: relative;
  width:100vw;

}
.map-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top:50px;

  h1 {
      font-family: 'Montserrat', sans-serif;
      color: #685d5d;
      font-size: 75px;

  }
}

.under-title{
  margin-bottom:0;
}
// @media (min-width: 2000px) {

//   .w-50 {
//     width: 64% !important;
// }
//   .logo {
//     position: absolute;
//     top: -37px;
//     left: 507px;}

//   .titre h1 {
//     line-height: 93px;
// }
// .header h1 {

//     font-size: 118px;
// }
// .about-container{
//   width:100%;
// }
// .pic{
//   height:31vw;
// }
// .bio {
//   p{
//     font-size:18px;

//   }
//   h2 {
//     font-size:26px;
//   }
// }
// .epil-bann{
//   height: 24vw;
// }
// .massage-bann{
//   height:14vw;
// }
// .soinvisage-bann{
//   height:14vw;
// }
// .makeup-bann{
//   height:16vw;
// }
// .container {
//   p{
//     font-size:18px;
//   }
// }

// .navmenu li {
//     font-size:25px;
//   }

//   .aboutaccueil li {
//     font-size:28px}


//   .phone-number h2{
// font-size:56px;
//   }

// .fa-shopping-cart {
//  right: 14px;
//  top: 20px;

//  font-size: 42px;
// }
// .cart-inside {

//   padding: 16px;
//   font-size: 21px;
//   width: 22px;
//   height: 22px;

//   right: 7px;
//   top: 10px;

// }
// .navmenu.active {
//   height:90px;}


// .navmenu.active a {
//   font-size: 28px;
// }
// .false-menu {
//   height: 90px;
// }
// .navmenu-presta {
//   height:90px;
// }

// .navmenu-presta a {
//   font-size: 28px;
// }
// .retour-accueil a {

//   font-size: 32px;
// }

// }


@media (min-width: 1700px) {

  .titre h1 {
    line-height: 70px;
}
.header h1 {
    font-size: 90px;
}

.navmenu li {
  font-size:18px;
}

.logo {

  top: -38px;
  left: 380px;
}


.aboutaccueil li {
  font-size:22px}


.phone-number h2{
font-size:50px;
}

.fa-shopping-cart {
right: 14px;
top: 20px;

font-size: 32px;
}
.cart-inside {

padding: 13px;
font-size: 18px;
width: 22px;
height: 22px;

right: 7px;
top: 10px;

}
.navmenu.active {
height:77px;}


.navmenu.active a {
font-size: 22px;
}

.container p{
  font-size:18px;
}

.about-container {
  width:100%;

}
.navmenu-presta {
  height:77px;
}

.navmenu-presta a {
  font-size: 22px;
}
.retour-accueil a {

  font-size: 26px;
}
.false-menu {
  height: 77px;
}
 }



@media (max-width: 1370px) {
  .navmenu-presta li {
    padding-right: 19px;
    padding-left: 19px;


  }
  .navmenu-active li {
    padding-right: 19px;
    padding-left: 19px;


  }

}
  @media (max-width: 1124px) {

    .w-50 {
      width: 42% !important;
  }
    .bloc
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }
   .bloc1
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }

   .map-container h1 {
    font-size: 40px;
   }

   .aboutaccueil{
     top:15px;
   }
   .aboutaccueil li{
    font-size:14px;
  }

  .navmenu.active{
    justify-content: start;
  }
  .navmenu.active li {
    padding-right: 23px;
    padding-left: 23px;
}
.navmenu.active a {
  font-size: 14px;}

  .navmenu-presta{
    justify-content: start;
  }

  .navmenu-presta li {
    padding-right: 23px;
    padding-left: 23px;
}
.navmenu-presta a {
  font-size: 14px;}


   .about-container{
    grid-template-columns: 1fr 1fr;
    width:100%;
  }
  .phone-number {
    h2{padding-left:2px;}
  }
  .pic{
    width: 100%;
      height: 57vw
  }

  .makeup-container{
    grid-template-columns: 1fr 1fr;
  }
  .card-wrapper{
    width:100%;
  }
   .navmenu li {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9px;
}
.menu-container {

  margin-right: 2vw;

}

.header h1 {

font-size: 50px;

}
.titre h1 {
line-height: 40px;
}

.epil-bann{
height:100%;}


  .makeup-bann{
    height:31vw;
  }
  .soinvisage-bann{
    height:31vw;
  }
  .massage-bann{
    height:29vw;
  }
  .logo {
    position: absolute;
    top: -8px;
    left: 214px;
}
}


  @media (max-width: 960px) {

.navmenu-tablette {
    display: flex;
    // position: absolute;
    left: 10px;
    top: 12px;
    position: fixed;
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    font-family:Montserrat;

    li {
      padding: 10px;
    }
    a {
      color:#685d5d;

      // font-weight:bold;
    }
  }

// .navmenu{
//   display:none
// }

    .logo {
      position: absolute;
      top: -23px;
      left: 161px;
  }
    /* For a screen < 960px, this CSS will be read */
    .about-container{
      grid-template-columns: 1fr 1fr;
      width:100%;
    }
    .btn-group {
      .btn-ghost{
        font-size:12px;
        padding: 8px 12px;
      }
    }
    .pic{
      width: 100%;
      height: 55vw
    }

    .makeup-container{
      grid-template-columns: 1fr;
    }
    .epil-bann{
      height:100vw;
    }
.massage-bann{
  height:60vw
}
.soinvisage-bann{
  height:60vw;
}
    .bloc
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }
    .bloc1
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }
    .aboutaccueil {

      top: 15px;

  }
  .aboutaccueil li {

    padding-left: 5px;
    padding-right: 5px;
   font-size: 12px;
}
    .navmenu li {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 8px;
    }

    .navmenu.active{
      justify-content: start;
    }

    .navmenu.active li {
      padding-right: 15px;
      padding-left: 15px;
  }
    .navmenu.active a {
      font-size: 12px;
    }


    .titre h1 {
      line-height: 32px;
  }
  .navmenu-presta{
    justify-content: start;
  }
  .navmenu-presta li {
    padding-right: 12px;
    padding-left: 12px;
}
.navmenu-presta a {

  font-size: 12px;

}
  .header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #685d5d;
    font-size: 38px;
    margin-bottom:0;
  }

  .menu-container {

    margin-right: 3vw;


    // .navmenu {

    //   li {
    //     padding-left: 25px;
    //     padding-right: 25px;
    //     font-size: 10px;
    //   }
    // }
  }


  .card-wrapper {
    width: 100%;
    margin-right:0}

.makeup-bann{
  height:60vw;
}



.phone-number h2 {
  font-family: 'Montserrat';
  padding-left: 2px;
  color: grey;
  margin-bottom: 0;
}
.navmenu li:first-child{
  padding-left:6px;
}
}
  @media (max-width: 810px) {


    .title-landscape {


    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    background-color: white;
    width: 100%;
    opacity: 0.6;
    z-index: 5;
    height: 54px;
    display: flex;
    justify-content: center;
  h1 {
    font-size: 22px;

  }
  }


    .simple_form.new_contact{


      width:70%;

    }
    .adresse {
      margin-top:15px;
      // padding-left:8px;

      h3{
        font-size: 18px;
      }
    }

    .contact-icon {
      font-size: 16px;
      width: 30px;
      height: 30px;
    }

    .phone-number{
      display:none;
    }

    .fa-user{
      display:block;
      position:fixed;
      top:19px;
      right:60px;
      color:rgb(104, 93, 93);
      z-index:45689;
      font-size:25px;
  }

.card-wrapper{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.card-wrapper-flex-start{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.under-menu{
  box-shadow: -3px 7px 10px -8px grey;
  h1{
    font-size:20px;

  }
}

.btn-ghost{
  font-size:14px;
}

.btn-ghost2{
  font-size:9px;
  padding: 6px 14px;
}
.makeup-bann{
  height:60vw;
}
.massage-bann{
  height: 60vw;
}
.soinvisage-bann{
  height: 60vw;
}
.epil-bann{
  .epil-bann {
    width: 100%;
    height: 100vw;
}
}
.makeup-container{
  margin-top:0;
}
.header{
  height: 84vw;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}
.navmenu-presta a{
  display:none;

}

.logo-mobile{
  display:flex;
  justify-content: center;
  margin-bottom:15px;

}
.avatar {
  width: 40px;
  height:40px;
  border-radius: 50%;
  /* top: 13px; */
  position: fixed;
  top: 9px;
  right: 55px;
}
.logo-mobile-menu{

  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.aboutaccueil {

    display:none;


}
.aboutaccueil-mobile {

  display:flex;


}
.accueil-menu{
  display:none;
}

.img-bloc2{
  display:none;

}
.img-bloc1{
  display:block;

}
// .nav-link{
//   display:none;
// }
.footer-copyright{
  display:none;
}

.about-container{
  grid-template-columns: 1fr;
}
.pic{
  width: 100%;
    height: 123vw;
}

.makeup-container{
  grid-template-columns: 1fr;
}
.menu-container{display:none}
.text{
  padding-bottom:0;
}
.map-container{
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  grid-template-columns: 1fr;
  h1 {
    font-size: 30px;
  }
}
#map{
  width: 291px;
    height: 300px;
}
.contact-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.container {
  grid-template-columns: 1fr  ;
  margin-top:0;
  p{
    font-family: Montserrat;
    font-size:12px;
    margin-top:15px;
  }
}

    .bloc
     {
      grid-template-columns: 1fr;



    }
    .bloc1
     {
      grid-template-columns: 1fr;



    }

    .navmenu {
        display:none;
    }

    .call-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .map-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .call-button:hover{
      box-shadow: 1px 1px 10px white;
    }

    .menu-button {
      display:block;
    }

    .call-footer{
      display:none;
      // justify-content: space-around;

    }










// .btn-group {
//   .btn-ghost{
//     font-size:11px;
//     padding: 8px 10px;
//   }
// }
//     .bio{
//       p{
//         font-size:11px;
//       }
//       h2{
//         font-size:18px;
//       }
//     }
//     .about-container{
//       grid-template-columns: 1fr 1fr;
//     }
//     .pic{
//       width: 100%;
//         height: 45vw
//     }

//     .makeup-container{
//       grid-template-columns: 1fr;
//     }

//     /* For a screen < 720px, this CSS will be read */
//     .bloc
//      {
//       grid-template-columns: 1fr;

//     }
//     .bloc1
//      {
//       grid-template-columns: 1fr;

//     }
//     .navmenu li {
//       padding-left: 4px;
//       padding-right: 4px;
//       font-size: 6px;


//     }


//     .titre h1 {
//       line-height: 31px;
//   }

//   .header h1 {
//     font-family: 'Montserrat', sans-serif;
//     color: #685d5d;
//     font-size: 35px;
//   }

//   .menu-container {

//     margin-right: 1vw;}

//     // .nav

//     //   li {
//     //     padding-left: 15px;
//     //     padding-right: 15px;
//     //     font-size: 8px;
//     //   }
//     // }
//     .avatar {
//       font-size: 16px;
//       width: 32px;
//       height: 32px;
//     }
//     .aboutaccueil{
//       top:19px;
//     }
//     .aboutaccueil li {
//       font-size: 10px;
//       padding-left: 8px;
//       padding-right: 8px;
//     }
//     .navmenu.active a {
//       font-size: 10px;
//     }
//     .navmenu.active li {
//       padding-right: 15px;
//       padding-left: 15px;
//   }
//   .navmenu-presta a {
//     font-size: 10px;
//   }
//   .navmenu-presta li {
//     padding-right: 15px;
//     padding-left: 15px;
// }


//   .navmenu.active {
//     justify-content: start;
//   }
//   .navmenu-presta{
//     justify-content: start;
//   }
  }


//   @media (max-width: 670px) {
//     .navmenu.active li {
//       padding-right: 10px;
//       padding-left: 10px;
//   }
//   .navmenu-presta li {
//     padding-right: 10px;
//     padding-left: 10px;
// }
//   }

//   @media (max-width: 660px) {
//     .navmenu.active li {
//       padding-right: 8px;
//       padding-left: 8px;
//   }
//   .navmenu-presta li {
//     padding-right: 8px;
//     padding-left: 8px;
// }
// .pic {
//   width: 100%;
//   height: 50vw;
// }
//   }


//   @media (max-width: 640px){
//   .navmenu.active li {
//       padding-right: 7px;
//       padding-left: 7px;
//   }
//   .navmenu-presta li {
//     padding-right: 7px;
//     padding-left: 7px;
// }
// .pic{
//   width: 100%;
//     height: 51vw
// }

// }


//   @media (max-width: 600px) {
//     .navmenu.active li {
//       padding-right: 6px;
//       padding-left: 6px;
//   }
//   .navmenu.active a {
//     font-size: 9px;
// }

// .navmenu-presta li {
//   padding-right: 6px;
//   padding-left: 6px;
// }
// .navmenu-presta a {
// font-size: 9px;
// }
// .aboutaccueil li {
//   font-size: 9px;
//   padding-left: 4px;
//   padding-right: 4px;
// }
// .pic {
//   width: 100%;
//   height: 61vw;
// }
//   }




  @media (max-width: 540px) {

.title-landscape {
  display:none
}

    .navmenu-tablette {
      display:none;}
    /* For a screen < 540px, this CSS will be read */
    .simple_form.new_contact{

      width:70%;

    }
    .adresse {
      margin-top:15px;
      // padding-left:8px;

      h3{
        font-size: 18px;
      }
    }

    .contact-icon {
      font-size: 16px;
      width: 30px;
      height: 30px;
    }

    .phone-number{
      display:none;
    }

    .fa-user{
      display:block;
      position:fixed;
      top:19px;
      right:60px;
      color:rgb(104, 93, 93);
      z-index:45689;
      font-size:25px;
  }

.card-wrapper{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.card-wrapper-flex-start{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.under-menu{
  box-shadow: -3px 7px 10px -8px grey;
  h1{
    font-size:20px;

  }
}

.btn-ghost{
  font-size:14px;
}

.btn-ghost2{
  font-size:9px;
  padding: 6px 14px;
}
.makeup-bann{
  height:60vw;
}
.massage-bann{
  height: 60vw;
}
.soinvisage-bann{
  height: 60vw;
}
.epil-bann{
  .epil-bann {
    width: 100%;
    height: 100vw;
}
}
.makeup-container{
  margin-top:0;
}
.header{
  height: 84vw;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  h1 {
    font-size:16px;
  }
}

.title-mobile {

  font-family: Montserrat;
  display:block;
}


.navmenu-presta a{
  display:none;

}

.logo-mobile{
  display:flex;
  justify-content: center;
  margin-bottom:15px;

}
.avatar {
  width: 40px;
  height:40px;
  border-radius: 50%;
  /* top: 13px; */
  position: fixed;
  top: 9px;
  right: 55px;
}
.logo-mobile-menu{

  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.aboutaccueil {

    display:none;


}
.aboutaccueil-mobile {

  display:flex;


}
.accueil-menu{
  display:none;
}

.img-bloc2{
  display:none;

}
.img-bloc1{
  display:block;

}
// .nav-link{
//   display:none;
// }
.footer-copyright{
  display:none;
}

.about-container{
  grid-template-columns: 1fr;
}
.pic{
  width: 100%;
    height: 123vw;
}

.makeup-container{
  grid-template-columns: 1fr;
}
.menu-container{display:none}
.text{
  padding-bottom:0;
}
.map-container{
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  grid-template-columns: 1fr;
  h1 {
    font-size: 30px;
  }
}
#map{
  width: 291px;
    height: 300px;
}
.contact-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.container {
  grid-template-columns: 1fr  ;
  margin-top:0;
  p{
    font-family: Montserrat;
    font-size:12px;
    margin-top:15px;
  }
}

    .bloc
     {
      grid-template-columns: 1fr;



    }
    .bloc1
     {
      grid-template-columns: 1fr;



    }

    .navmenu {
        display:none;
    }

    .call-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .map-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .call-button:hover{
      box-shadow: 1px 1px 10px white;
    }

    .menu-button {
      display:block;
    }

    .call-footer{
      display:flex;
      justify-content: space-around;

    }




  }
