// Smallest device
// .carousel-item {
//     width: 100%;
//     height: 500px;  
//     background-size: cover;
// }


// .bloc{
//     width:100%;
//     height:100%;
//     display:grid;
//     grid-template-columns: 1fr 1fr;
//     padding-bottom: 10px;
//     h2 {
//         font-size: Montserrat;
//         color: rgb(185, 185, 185);

//     }

//     p {
//         color: rgb(185, 185, 185);
//         padding: 30px;
//         font-style: italic;

//     }
    
// }

// .mainpage{
//     margin-bottom: 35px;
//     background-color: rgb(211, 130, 211);
//     background-image: url("https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
//     width: 100%;
//     height: 550px;
//     background-repeat: no-repeat;
//     background-size: cover;
// }




// @media (min-width: 100px) and (max-width: 575px) {
//     .bloc
//      {
//       grid-template-columns: 1fr;

      
      
//     }

//     .navmenu {
//         display:none;
//     }

//     .menu-button {
//       display:block;
//     }
    
//   }
  
//   // Small devices (landscape phones, 576px and up)
//   @media (min-width: 576px) {

//     .bloc
//      {
//       grid-template-columns: 1fr;
      
//     }

//     .navmenu {

//       li {
//         padding-left: 20px;
//         padding-right: 20px;
//         font-size: 8px;
//       }
//     }
    
    
  // }
  
  // Medium devices (tablets, 768px and up)
  // @media (min-width: 768px) {
  //   .bloc
  //    {
  //     grid-template-columns: 1fr 1fr;

  //     h2 {
  //       font-size: 16px;

  //     }

  //     p{
  //       font-size: 12px;
  //     }
  //   }

  //   .navmenu {

  //     li {
  //       padding-left: 25px;
  //       padding-right: 25px;
  //       font-size: 10px;
  //     }
  //   }
  // }
  
  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) {
  //   .bloc
  //    {
  //     grid-template-columns: 1fr 1fr ;
  //   }
  //   .navmenu {

  //     li {
  //       padding-left: 45px;
  //       padding-right: 45px;
  //       font-size: 16px;
  //     }
  //   }
  // }
  
  // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) {
  //   .bloc
  //    {
  //     grid-template-columns: 1fr 1fr ;
  //   }
  // }

  .contact-icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e2b288;
    // background-color: #d981d8;
    color: white;

      
  }

  .contact-link {
    text-decoration: none;
    color: grey;

  }
  .contact-link:hover{
    color: grey;

  }

  .contact-text{
display:inline;
padding-left: 10px;
color: grey;
font-family: 'Montserrat';

  }
.makeup-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-gap: 16px;
}

.presta-price {
  margin-left:auto;
}

// .presta-name{
//   font-family: 'Open sans', sans-serif; 
// }
.forfait {
  font-weight: bold;
}
.card-wrapper{

  width: 35vw;
  font-family: 'Open sans', sans-serif;   
 
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper-flex-start{

  width: 35vw;
  font-family: 'Open sans', sans-serif;   
 
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 5px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.service{
  padding-right: 10px;
}

.service-price{
  margin-left:auto;
}
.price{
  margin-right: 15px;
}
.form-group{
  width: 20%;
  margin-bottom: 0;
}

.blockbann{
  display:flex;

}

.adresse {
  padding-left:8px;
}

.patricia{
  width:302px;
  // height: 200px;
  background-size:cover;
  // margin-right:15px;
  
  
}
body{
  background-color: white;
  h1 {
    font-family: 'Playfair Display', serif;
  }
}
.bio {
  // border-left: 0.5px solid grey;
  padding-left: 10px;
  background-color: white;
    p{
      font-family:'Open sans', sans-serif;   
    }
}
.pic {
  // display:flex;
  // justify-content: center;
  // width: 15vw;
  // height: 10vw;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://coolwallpapers.me/picsup/2611782-monica-bellucci-cool-wallpaper-for-pc.jpg");

  
  animation-name: fadeInOpacity;
  
  animation-iteration-count: 1;
  
  animation-timing-function: ease-in;
  
  animation-duration: 2s;



}



@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




.about-container{
  margin-top: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;

}

.caddie-container{
  margin-top:50px;
}
.container {

  background-color: transparent;
    // margin-top: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-top: 50px; 

  h1 {
    font-family: 'Montserrat', sans-serif;
  }
   h2 {
    font-family: 'Montserrat', sans-serif;
    color: grey;
   }

   p{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;  
    color: grey;
    // margin-top: 50px; 
   }
}


  @media (max-width: 1024px) {
    .bloc
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }
   .bloc1
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }
    .navmenu {

      li {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 12px;
      }
    }
  }



  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    
    .bloc
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }
    .bloc1
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }



    .navmenu {

      li {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 10px;
      }
    }
  }

  @media (max-width: 740px) {

    
    /* For a screen < 720px, this CSS will be read */
    .bloc
     {
      grid-template-columns: 1fr;
      
    }
    .bloc1
     {
      grid-template-columns: 1fr;
      
    }

    .navmenu {

      li {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 8px;
      }
    }
    
    
  }

  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */

.header{
  height: 84vw;
  margin-bottom: 0px;
}

.menu-container{display:none}

.container {
  grid-template-columns: 1fr  ;
}

    .bloc
     {
      grid-template-columns: 1fr;

      
      
    }
    .bloc1
     {
      grid-template-columns: 1fr;

      
      
    }

    .navmenu {
        display:none;
    }

    .call-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .call-button:hover{
      box-shadow: 1px 1px 10px white;
    }

    .menu-button {
      display:block;
    }
    
    
  }