


#order_item_quantity{
    border-radius: 20px;
    box-shadow: 1px 1px 2px 0px #c9c6c6;
    border: 0;
    margin-bottom: 10px;
    height: 25px;
    width: 50px;
    font-size: 12px;
}
.well{
  margin-bottom: 20px;
  padding-bottom: 20px;
 
  box-shadow:0 4px 2px -2px #e2dddd;
  h3, h5{
    font-family: Montserrat;
    font-size: 20px;
  }

}

.subtotal{
  font-family: Montserrat;
    font-size: 14px;
   
}
.total-price{
  font-family: MOntserrat;
  font-weight: bold;
}
.btn-group{
  margin-bottom: 3px;;
}
  .contact-icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d3ae8d;
    color: white;

      
  }

  .contact-link {
    text-decoration: none;
    color: grey;

  }
  .contact-link:hover{
    color: grey;

  }

.contact-text{
display:inline;
padding-left: 10px;
color: grey;
font-family: 'Montserrat';

  }
.makeup-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-gap: 16px;
}

.presta-price {
  margin-left:auto;
}

.forfait {
  font-weight: bold;
}

.card-wrapper{

  // width: 35vw;
  font-family: 'Open sans', sans-serif;   
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper-flex-start{

  // width: 35vw;
  font-family: 'Open sans', sans-serif;   
  margin-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cards {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.service{
  padding-right: 10px;
}

.service-price{
  margin-left:auto;
}
.price{
  margin-right: 15px;
}

.form-group{
  width: 20%;
  margin-bottom: 0;
}

// .blockbann{
//   display:flex;

// }

.adresse {
  margin-top:15px;
  padding-left:8px;

  h3{
    font-size: 25px;
  }
}

.patricia{
  width:302px;
  background-size:cover;
  
  
}

.bio {
  padding-left: 10px;
  background-color: white;
    p{
      font-family:'Open sans', sans-serif;   
    }
}
.pic {
    
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://coolwallpapers.me/picsup/2611782-monica-bellucci-cool-wallpaper-for-pc.jpg");
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;



}



@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}




.about-container{
  margin-top: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;

}

.caddie-container{
  margin-top:50px;
}

.container {

  background-color: transparent;
  margin-top: 50px; 

  h1 {
    font-family: 'Montserrat', sans-serif;
  }
   h2 {
    font-family: 'Montserrat', sans-serif;
    color: grey;
   }

   p{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;  
    color: grey;
   }
}

.menu-container{
  display:flex;
  flex-direction: column;
  margin-top: -15vw;
  margin-right: 4vw;
  position: relative;

}
.menu-container.active{
  display:flex;
  flex-direction: column;
  margin-top: 0;
  margin-right: 0;
  position: relative;
  width:100vw;

}
.map-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top:50px;

  h1 {
      font-family: 'Montserrat', sans-serif;
      color: #685d5d;
      font-size: 75px;

  }
}

.under-title{
  margin-bottom:0;
}
@media (min-width: 1990px) {
  .w-50 {
    width: 64% !important;
}
  .logo {
    position: absolute;
    top: -37px;
    left: 507px;}

  .titre h1 {
    line-height: 93px;
}
.header h1 {
    
    font-size: 118px;
}
}


  @media (max-width: 1124px) {
    .bloc
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }
   .bloc1
    {
     grid-template-columns: 1fr 1fr;

     h2 {
       font-size: 16px;

     }

     p{
       font-size: 12px;
     }
   }

   .map-container h1 {
    font-size: 40px;
   }

   .aboutaccueil{
     top:15px;
   }
   .aboutaccueil li{
    font-size:14px;
  }

  .navmenu.active{
    justify-content: start;
  }
  .navmenu.active li {
    padding-right: 23px;
    padding-left: 23px;
}
.navmenu.active a {
  font-size: 14px;}

  .navmenu-presta{
    justify-content: start;
  }

  .navmenu-presta li {
    padding-right: 23px;
    padding-left: 23px;
}
.navmenu-presta a {
  font-size: 14px;}


   .about-container{
    grid-template-columns: 1fr;
  }
  .tel {
    h2{padding-left:2px;}
  }
  .pic{
    width: 100%;
      height: 57vw
  }
  
  .makeup-container{
    grid-template-columns: 1fr 1fr;
  }
  .card-wrapper{
    width:100%;
  }
   .navmenu li {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9px;
}
.menu-container {
  
  margin-right: 2vw;
  
}

.header h1 {

font-size: 50px;

}
.titre h1 {
line-height: 40px;
}

.epil-bann{
height:100%;}
  

  .makeup-bann{
    height:31vw;
  }
  .soinvisage-bann{
    height:31vw;
  }
  .massage-bann{
    height:29vw;
  }
  .logo {
    position: absolute;
    top: -19px;
    left: 214px;
}
}


  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .about-container{
      grid-template-columns: 1fr;
    }

    .pic{
      width: 100%;
      height: 57vw
    }
    
    .makeup-container{
      grid-template-columns: 1fr;
    }
    .epil-bann{
      height:100vw;
    }
.massage-bann{
  height:60vw
}
.soinvisage-bann{
  height:60vw;
}
    .bloc
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }
    .bloc1
     {
      grid-template-columns: 1fr 1fr;

      h2 {
        font-size: 16px;

      }

      p{
        font-size: 12px;
      }
    }
    .aboutaccueil {
      
      top: 15px;
      
  }
  .aboutaccueil li {
    
    padding-left: 5px;
    padding-right: 5px;
   font-size: 12px;
}
    .navmenu li {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 6px;
     

    }

    .navmenu.active{
      justify-content: start;
    }

    .navmenu.active li {
      padding-right: 15px;
      padding-left: 15px;
  }
    .navmenu.active a {
      font-size: 12px;
    }


    .titre h1 {
      line-height: 32px;
  }
  .navmenu-presta{
    justify-content: start;
  }
  .navmenu-presta li {
    padding-right: 14px;
    padding-left: 14px;
}
.navmenu-presta a {
  
  font-size: 12px;
  
}
  .header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #685d5d;
    font-size: 38px;
    margin-bottom:0;
  }

  .menu-container {
    
    margin-right: 3vw;
    

    // .navmenu {

    //   li {
    //     padding-left: 25px;
    //     padding-right: 25px;
    //     font-size: 10px;
    //   }
    // }
  }


  .card-wrapper {
    width: 100%;
    margin-right:0}

.makeup-bann{
  height:60vw;
}



.tel h2 {
  font-family: 'Montserrat';
  padding-left: 2px;
  color: grey;
  margin-bottom: 0;
}
.navmenu li:first-child{
  padding-left:6px;
}
}
  @media (max-width: 740px) {
    .about-container{
      grid-template-columns: 1fr;
    }
    .pic{
      width: 100%;
        height: 57vw
    }
    
    .makeup-container{
      grid-template-columns: 1fr;
    }
    
    /* For a screen < 720px, this CSS will be read */
    .bloc
     {
      grid-template-columns: 1fr;
      
    }
    .bloc1
     {
      grid-template-columns: 1fr;
      
    }
    .navmenu li {
      padding-left: 4px;
      padding-right: 4px;
      font-size: 6px;
      

    }

    
    .titre h1 {
      line-height: 29px;
  }

  .header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #685d5d;
    font-size: 35px;
  }

  .menu-container {
    
    margin-right: 1vw;}

    // .nav

    //   li {
    //     padding-left: 15px;
    //     padding-right: 15px;
    //     font-size: 8px;
    //   }
    // }
    .avatar {
      font-size: 16px;
      width: 32px;
      height: 32px;
    }
    .aboutaccueil{
      top:19px;
    }
    .aboutaccueil li {
      font-size: 10px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .navmenu.active a {
      font-size: 10px;
    }
    .navmenu.active li {
      padding-right: 15px;
      padding-left: 15px;
  }
  .navmenu.active {
    justify-content: start;
  }
  }
  @media (max-width: 670px) {
    .navmenu.active li {
      padding-right: 10px;
      padding-left: 10px;
  }
  }

  @media (max-width: 660px) {
    .navmenu.active li {
      padding-right: 9px;
      padding-left: 9px;
  }
  }
  @media (max-width: 640px){
  .navmenu.active li {
      padding-right: 8px;
      padding-left: 8px;
  }
}
  @media (max-width: 600px) {
    .navmenu.active li {
      padding-right: 7px;
      padding-left: 7px;
  }
  .navmenu.active a {
    font-size: 9px;
}
.aboutaccueil li {
  font-size: 9px;
  padding-left: 4px;
  padding-right: 4px;
}
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .adresse {
      margin-top:15px;
      // padding-left:8px;
    
      h3{
        font-size: 18px;
      }
    }

    .contact-icon {
      font-size: 16px;
      width: 30px;
      height: 30px;
    }

    .tel{
      display:none;
    }

    .fa-user{
      display:block;
      position:fixed;
      top:19px;
      right:60px;
      color:rgb(104, 93, 93);
      z-index:45689;
      font-size:25px;
  }

.card-wrapper{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.card-wrapper-flex-start{
  min-width:90vw;
  margin-right:0;
  font-size:9px;
}

.under-menu{
  box-shadow: -3px 7px 10px -8px grey;
  h1{
    font-size:20px;
    
  }
}

.btn-ghost{
  font-size:14px;
}

.btn-ghost2{
  font-size:9px;
  padding: 6px 14px;
}
.makeup-bann{
  height:60vw;
}
.massage-bann{
  height: 60vw;
}
.soinvisage-bann{
  height: 60vw;
}
.epil-bann{
  .epil-bann {
    width: 100%;
    height: 100vw;
}
}
.makeup-container{
  margin-top:0;
}
.header{
  height: 84vw;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}
.navmenu-presta a{
  display:none;
  
}

.logo-mobile{
  display:flex;
  justify-content: center;
  margin-bottom:15px;
  
}
.avatar {
  width: 40px;
  height:40px;
  border-radius: 50%;
  /* top: 13px; */
  position: fixed;
  top: 9px;
  right: 55px;
}
.logo-mobile-menu{
 
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.aboutaccueil {
  
    display:none;
  
  
}
.aboutaccueil-mobile {
  
  display:flex;


}
.accueil-menu{
  display:none;
}

.img-bloc2{
  display:none;

}
.img-bloc1{
  display:block;

}
// .nav-link{
//   display:none;
// }
.footer-copyright{
  display:none;
}

.about-container{
  grid-template-columns: 1fr;
}
.pic{
  width: 100%;
    height: 57vw
}

.makeup-container{
  grid-template-columns: 1fr;
}
.menu-container{display:none}
.text{
  padding-bottom:0;
}
.map-container{
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  grid-template-columns: 1fr;
  h1 {
    font-size: 30px;
  }
}
#map{
  width: 291px;
    height: 300px;
}
.contact-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.container {
  grid-template-columns: 1fr  ;
  margin-top:0;
  p{
    font-family: Montserrat;
    font-size:10px;
    margin-top:15px;
  }
}

    .bloc
     {
      grid-template-columns: 1fr;

      
      
    }
    .bloc1
     {
      grid-template-columns: 1fr;

      
      
    }

    .navmenu {
        display:none;
    }

    .call-button{
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .call-button:hover{
      box-shadow: 1px 1px 10px white;
    }

    .menu-button {
      display:block;
    }
    
    .call-footer{
      display:flex;
    }

    
    
    
  }