.form-inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presta-form-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &.col {
      flex-direction: column;
    }
}

.login {
min-height:100vh;
display: flex;
flex-direction: column;
justify-content: center;

}
