
body {
    // background-color: rgb(211, 130, 211) !important;
    background-color:#fff8f8;
    //background: linear-gradient(to right, transparent, #ffe6e6, white);
    min-width: 100vh;
}

.header {
    display:flex;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1600334089648-b0d9d3028eb2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 230px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    // border: 3px solid red;
    justify-content: space-around;
    // padding-bottom: 140px;
    flex-direction: column;
    align-items: center;
    background-color:#393b3a;
    // position: fixed;
    max-width:100%;
    margin-bottom: 20px;

    h1 {
        font-family: 'monsterrat';
        color: white;
    }
}


.logorelook{
    width: 260px;
    height: 176px;
    background-image: url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1611833682/nceln6nosuqsnzhv5cka.png");
    background-position: center;
    
    background-repeat: no-repeat;
    // background-size: cover;
    padding-bottom: 10px;
}



.navmenu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: Montserrat;

    // padding-top: 30%;
    transition: 0.4s;
    


    li {
    display: flex;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    // border-left: 1px solid #ac814a;
    color: #ffffff;
     border-right: 1px solid #ffffff;
     font-size: 16px;
     transition: 0.4s;

}


li:hover {
    font-weight: bold;
 
}

 li:last-child {
    border-right: none;
}

a {
    color: #fffdfd;
    text-decoration: none;
    // padding: 10px;
}


}

.navmenu.active {
    background-color: #a8a59d;
    width: 100%;

    height: 80px;
    transition: 0.4s;
}

.bloc{
    width:100%;
    //height:100%;
    height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    h2 {
      /*font-family: Montserrat;*/
        font-family: 'Cormorant Garamond', serif;
        font-size: 45px;
        color: #373737;
        margin: 7vw;

    }

    p {
        color: #373737;
        padding: 30px;
        /*font-style: italic;*/
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        line-height: 1.7em;

    }

}

.mainpage{
    margin-bottom: 10vw;
    /*background-color: rgb(211, 130, 211);*/
    //background-color: #edb8b9;
    background-image: url("https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}


.text-edit {
  text-align: revert;
margin: -44px 20px;
}


.menu-button{
    display:none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    padding: 16px;
    color: white;
    // z-index: 1;

    
}

.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100vh;
    transition: 0.6s;
    // z-index: auto;
}

.menu-mobile.active {
width: 100%;
background-color: white;
transition: 0.6s;
}

.close-button{
    display:none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    padding: 16px;
    color: rgb(0, 0, 0);
    // z-index: 1;

    
}
.close-button.active{
    display:block;
    // position: absolute;
    // left: 10px;
    // bottom: 10px;
    // border-radius: 50%;
    // padding: 16px;
    // color: rgb(0, 0, 0);
    // z-index: 1;

    
}
