
body {
    // background-color: rgb(211, 130, 211) !important;
    background-color:#fff8f8;
    //background: linear-gradient(to right, transparent, #ffe6e6, white);
    min-height: 100vh;
}

.header {
    display:flex;
    background-image :url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1611936777/ifl6tdn28chnfawg5bza.jpg");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 230px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    // border: 3px solid red;
    justify-content: space-around;
    // padding-bottom: 140px;
    flex-direction: column;
    align-items: center;
    background-color:#393b3a;
    // position: fixed;
    max-width:100%;
    margin-bottom: 20px;
    z-index:0;

    h1 {
        font-family: 'monsterrat';
        color: white;
    }
}


.logorelook{
    width: 320px;
    height: 274px;
    background-image: url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1611944510/lewxtiqdjcpanmmawq8x.png");
    background-position: center;
    
    background-repeat: no-repeat;
    // background-size: cover;
    padding-bottom: 10px;
}



.navmenu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: Montserrat;

    // padding-top: 30%;
    transition: 0.4s;
    


    li {
    display: flex;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    // border-left: 1px solid #ac814a;
    color: #ffffff;
     border-right: 1px solid #ffffff;
     font-size: 16px;
     transition: 0.4s;

}


li:hover {
    font-weight: bold;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

 li:last-child {
    border-right: none;
}

a {
    color: #fffdfd;
    text-decoration: none;
    // padding: 10px;
}


}

.navmenu.active {
    background-color: #0f0f0ea3;
    width: 100%;
    height: 80px;
    transition: 0.4s;
}

.bloc{
    width:100%;
    height:100%;
    // height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;

    h2 {
      /*font-family: Montserrat;*/
        font-family: 'Cormorant Garamond', serif;
        font-size: 45px;
        color: #373737;
        // margin: 7vw;

    }

    p {
        color: #373737;
        padding: 30px;
        /*font-style: italic;*/
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        // line-height: 1.7em;

    }

}

.bloc1{
    width:100%;
    height:100%;
    // height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;

    h2 {
      /*font-family: Montserrat;*/
        font-family: 'Cormorant Garamond', serif;
        font-size: 45px;
        color: #373737;
        // margin: 7vw;

    }

    p {
        color: #373737;
        padding: 30px;
        /*font-style: italic;*/
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        // line-height: 1.7em;

    }

}

// .mainpage{
//     margin-bottom: 10vw;
//     /*background-color: rgb(211, 130, 211);*/
//     //background-color: #edb8b9;
//     background-image: url("https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
//     width: 100%;
//     height: 550px;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


// .text-edit {
//   text-align: revert;
// margin: -44px 20px;
// }

.text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.menu-button{
    display:none;
    position: sticky;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    padding: 16px;
    color: rgb(255, 255, 255);
    z-index: 2;

    
}

.menu-button.colorize{
    
    color: rgb(0, 0, 0);
    

    
}

.call-button{
    display:none;
    position: fixed;
    right: 10px;
    bottom: 26px;
    border-radius: 74%;
    padding: 16px;
    background-color: white;
    z-index: 2;
    width: 60px;
    border: 0.5px solid black;
    height: 60px;
    

a {
    color: rgb(0, 0, 0);
}
    
}

.fa-phone {
    // position: absolute;
    
    font-size: 40px;
}


.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width:0;
    height: 100vh;
    transition: 0.6s;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.menu-mobile.active {

width: 100%;
background-color: white;
transition: 0.6s;

}

.navmenu2 {
    display: none;
    transition: 0.6s;
    font-family: montserrat;
    color: #373737
}



.navmenu2.active {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    // justify-content: center;
    transition: 0.6s;
    li {
        padding: 10px;
    }
    a {
        text-decoration: none;
        color: #373737
    }
}

// .close-button{
//     display:none;
//     position: absolute;
//     left: 10px;
//     bottom: 10px;
//     border-radius: 50%;
//     padding: 16px;
//     color: rgb(0, 0, 0);
//     // z-index: 1;

    
// }
// .close-button.active{
//     display:block;
//     // position: absolute;
//     // left: 10px;
//     // bottom: 10px;
//     // border-radius: 50%;
//     // padding: 16px;
//     // color: rgb(0, 0, 0);
//     // z-index: 1;

// }

