
body {
    // background-color: rgb(211, 130, 211) !important;
    background-color:#fff8f8;
    //background: linear-gradient(to right, transparent, #ffe6e6, white);
    min-height: 100vh;
}

.w-50 {
    
        width: 48% !important;
    
}

.header {
    display:flex;
    background-image :url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1613284035/zqjkwwoz2w0rnchevcpk.png");
    // width: 100%;
    // min-height: 100vh;

    width: 100vw;  
    height: 56.25vw;

    background-repeat: no-repeat;
    background-size: cover;
    // height: 230px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    // border: 3px solid red;
    justify-content: center;
    // padding-bottom: 140px;
    flex-direction: column;
    align-items: flex-end;
    background-color:#393b3a;
    // position: fixed;
    // max-width:100%;
    margin-bottom: 20px;
    z-index:0;

    h1 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(104, 93, 93);
        font-size: 75px;
        line-height: 60px
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(104, 93, 93);
        font-size: 75px;
        line-height: 43px
    }
}

.menu-container{
    display:flex;
    flex-direction: column;
    margin-top: -15vw;
    margin-right: 4vw;
    position: relative;

}
.menu-container.active{
    display:flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    position: relative;
    width:100vw;

}
.logo{
    // width: 800px;
    // height: 274px;
    // background-image: url("https://res.cloudinary.com/dsmxleyf5/image/upload/v1613244586/df5heu8yopi2qwxvjqsn.png");
    // background-position: center;
    
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding-bottom: 30px;
    // margin-left: 58vw;
    // margin-top: 13vw;
}

// .titre {
//     font-family: 'Cormorant Garamond', serif;
// }
.fa-shopping-cart{
    position:fixed;
    right: 20px;
    top: 20px;
    color:   rgb(104, 93, 93);
    font-size: 24px;
}

.logo {
    position: absolute;
    top: -29px;
    left: 327px;
}


.navmenu {
    display: flex;
    // justify-content: center;
    list-style-type: none;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    // margin-top: 10px;
    // margin-left: 58vw;
    // margin-top: -3vw;
    // padding-top: 30%;
    transition: 0.4s;
    


    li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    // border-left: 1px solid #ac814a;
    color: #5c5353;
     border-right: 1px solid #5c5353;
     font-size: 12px;
     transition: 0.4s;
     font-weight:bold;

}


li:hover {
    font-weight: bold;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

 li:last-child {
    border-right: none;
}
// li:first-child {
    
//     padding-left: 0px;
// }
a {
    color: #5c5353;
    text-decoration: none;
    // padding: 10px;
}


}

.navmenu.active {
    background-color: #0f0f0ea3;
    width: 100%;
    height: 80px;
    transition: 0.4s;
    font-size: 18px;
    // padding-left: 40px;
    // padding-right: 40px;
    justify-content: center;
    // font-weight:light;
li{
    border-right: 1px solid white;
}

    a{
        color:white;
        font-size: 16px;
        font-weight: lighter; 
        padding-right: 25px;
        padding-left: 25px;  
    }
}

.bloc{
    width:100%;
    height:100%;
    // height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;

    h2 {
      /*font-family: Montserrat;*/
        font-family: 'Cormorant Garamond', serif;
        font-size: 45px;
        color: #373737;
        // margin: 7vw;

    }

    p {
        color: #373737;
        padding: 30px;
        /*font-style: italic;*/
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        // line-height: 1.7em;

    }

}

.bloc1{
    width:100%;
    height:100%;
    // height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;

    h2 {
      /*font-family: Montserrat;*/
        font-family: 'Cormorant Garamond', serif;
        font-size: 45px;
        color: #373737;
        // margin: 7vw;

    }

    p {
        color: #373737;
        padding: 30px;
        /*font-style: italic;*/
        font-size: 22px;
        font-family: 'Rokkitt', serif;
        // line-height: 1.7em;

    }

}

// .mainpage{
//     margin-bottom: 10vw;
//     /*background-color: rgb(211, 130, 211);*/
//     //background-color: #edb8b9;
//     background-image: url("https://images.unsplash.com/photo-1544161515-4ab6ce6db874?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
//     width: 100%;
//     height: 550px;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


// .text-edit {
//   text-align: revert;
// margin: -44px 20px;
// }

.text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.menu-button{
    display:none;
    position: sticky;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    padding: 16px;
    color: rgb(255, 255, 255);
    z-index: 2;

    
}

.menu-button.colorize{
    
    color: rgb(0, 0, 0);
    

    
}

.call-button{
    display:none;
    position: fixed;
    right: 10px;
    bottom: 26px;
    border-radius: 74%;
    padding: 16px;
    background-color: white;
    z-index: 2;
    width: 60px;
    border: 0.5px solid black;
    height: 60px;
    

a {
    color: rgb(0, 0, 0);
}
    
}

.fa-phone {
    // position: absolute;
    
    font-size: 40px;
}


.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width:0;
    height: 100vh;
    transition: 0.6s;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.menu-mobile.active {

width: 100%;
background-color: white;
transition: 0.6s;

}

.navmenu2 {
    display: none;
    transition: 0.6s;
    font-family: montserrat;
    color: #373737
}



.navmenu2.active {
    display:flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    // justify-content: center;
    transition: 0.6s;
    li {
        padding: 10px;
    }
    a {
        text-decoration: none;
        color: #373737
    }
}

// .close-button{
//     display:none;
//     position: absolute;
//     left: 10px;
//     bottom: 10px;
//     border-radius: 50%;
//     padding: 16px;
//     color: rgb(0, 0, 0);
//     // z-index: 1;

    
// }
// .close-button.active{
//     display:block;
//     // position: absolute;
//     // left: 10px;
//     // bottom: 10px;
//     // border-radius: 50%;
//     // padding: 16px;
//     // color: rgb(0, 0, 0);
//     // z-index: 1;

// }

